body { margin: 3rem 0; font-size: 115%; line-height: 175%; font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }
p { margin-top: 2rem; }
hr { margin: 3rem 0; }

.container { max-width: 728px; }
.navbar { padding: 0; }
.navbar-brand { width: calc(100% - 5rem); font-size: 2.75rem; white-space: normal; line-height: 1; }
.navbar-light .navbar-toggler { border: none; }

.hidden { display: none; }

.alert-danger a { color: #721c24; text-decoration: underline; }

.feature-inset { text-align: center; }
	.feature-inset > * { display: inline-block; width: calc(100% - 2rem); max-width: 640px; }
	.feature-inset img { width: 100%; box-shadow: 2px 2px 2px #ccc; }
	.feature-inset .btn-xl { font-size: 2rem; }

.btn-group.btn-group-toggle .btn + .btn { margin-left: 0; border-left: 2px solid #ccc; }
.btn-group-vertical.btn-group-toggle .btn + .btn { margin-top: 0; border-top: 2px solid #ccc; }

.btn-group-vertical .btn-light .row > div:first-child { color: transparent; }
.btn-group-vertical .btn-light.active .row > div:first-child { color: #212529; }

.btn-group { display: flex; }
.btn-group-vertical { width: 100%; }
.btn-group-vertical .btn { text-align: left; position: relative; }
	.btn-group-vertical .info { position: absolute; right: -2rem; top: .5rem; padding: 0 .5rem; background: #7d868e; color: #fff; border-radius: 50%; font-style: italic; font-size: 90%; font-family: Georgia, Times, serif; }

.checkboxes .btn-group-toggle { margin-bottom: 1rem; }

.btn-group .btn.active:before { content: '✓'; }
.btn-group .btn-light:before { content: '✓'; color: transparent; }
.btn-group .btn-light.active:before { color: #212529; }

.btn-group .btn-light:after { content: '\00a0 \00a0'; white-space: pre; }

.btn-light { box-shadow: 2px 2px 0 #ccc; }

.btn-low { background: rgba(0, 208, 125, .5); }
	.active.btn-low:not(:disabled):not(.disabled) { background: rgba(0, 208, 125, 1); }
.btn-moderate { background: rgba(255, 201, 0, .5); }
	.active.btn-moderate:not(:disabled):not(.disabled) { background: rgba(255, 201, 0, 1); }
.btn-high { background: rgba(255, 150, 0, .5); }
	.active.btn-high:not(:disabled):not(.disabled) { background: rgba(255, 150, 0, 1); }
.btn-critical { background: rgba(255, 0, 52, .5); }
	.active.btn-critical:not(:disabled):not(.disabled) { background: rgba(255, 0, 52, 1); }

#canRiskLevel .btn-light { border-color: #fff; border-width: 0px; }

#footer { margin-top: 5rem; padding: 1rem 0; font-size: 95%; background: #333; color: #fff; }
	#footer a.link { color: orange; }

#footer .tallylab { margin-top: 3rem; }
	#footer .tallylab .logo { float: left; margin-right: 15px; padding: 15px; border-radius: 50%; overflow: hidden; background: white; text-align: center; }
		#footer .tallylab .logo img { width: 100px; }
	#footer .tallylab p { margin: 0; padding: 35px 0; margin-bottom: -45px; height: 100px; vertical-align: baseline; }

table th { padding-top: 2rem; }

.alert table + table { border-top: 1px solid rgba(0,0,0,.25); margin-top: 2rem; }

/* end cc.css */
