body { margin: 3rem 0; font-size: 115%; line-height: 175%; font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }
.container { max-width: 728px; }
p { margin-top: 2rem; }
hr { margin: 3rem 0; }

.hidden { display: none; }

.feature-inset { text-align: center; }
	.feature-inset > * { display: inline-block; width: calc(100% - 2rem); max-width: 640px; }
	.feature-inset img { width: 100%; box-shadow: 2px 2px 2px #ccc; }
	.feature-inset .btn-xl { font-size: 2rem; }

.answer { float: left; font-size: 4rem; padding: 1rem; padding-left: 0; }

.btn-group.btn-group-toggle .btn + .btn { margin-left: 0; border-left: 1px solid #eee; }
.btn-group-vertical.btn-group-toggle .btn + .btn { margin-top: 0; border-top: 1px solid #eee; }

.btn.active:before { content: '✓'; }
.btn-secondary:before { content: '✓'; color: #6c757d; }
.btn-secondary.active:before { color: #fff; }

.btn-secondary:after { content: '\00a0 \00a0'; white-space: pre; }

.btn-group { display: flex; }
.btn-group-vertical .btn { text-align: left; position: relative; }
	.btn-group-vertical .info { position: absolute; right: -2rem; top: .5rem; padding: 0 .5rem; background: #7d868e; color: #fff; border-radius: 50%; font-style: italic; font-size: 90%; font-family: Georgia, Times, serif; }

.checkboxes .btn-group-toggle { margin-bottom: 1rem; }

.btn-low { background: rgba(0, 208, 125, .5); }
	.active.btn-low:not(:disabled):not(.disabled) { background: rgba(0, 208, 125, 1); }
.btn-moderate { background: rgba(255, 201, 0, .5); }
	.active.btn-moderate:not(:disabled):not(.disabled) { background: rgba(255, 201, 0, 1); }
.btn-high { background: rgba(255, 150, 0, .5); }
	.active.btn-high:not(:disabled):not(.disabled) { background: rgba(255, 150, 0, 1); }
.btn-critical { background: rgba(255, 0, 52, .5); }
	.active.btn-critical:not(:disabled):not(.disabled) { background: rgba(255, 0, 52, 1); }

#footer { margin-top: 5rem; padding: 2rem 0; font-size: 95%; background: #333; color: #fff; }
	#footer .faq:before { content: "?"; display: inline-block; text-align: center; padding: .1rem .35rem; position: relative; line-height: 1rem; top: .05rem; left: -.25rem; border-radius: 50%; background: #222; color: #ffc107; font-size: 90%; }
	#footer .formula:before { content: "\022C7"; font-size: 2rem; position: relative; line-height: 1rem; top: .2rem; }
	#footer .btn-group .btn + .btn { border-left: 1px solid #333; }
	#footer a.link { color: orange; }

#tallylabLogo { float: left; margin: 0 1rem 0 0; background: white; padding: 2%; border-radius: 50%; overflow: hidden; }

table th { padding-top: 2rem; }

.alert table + table { border-top: 1px solid rgba(0,0,0,.25); margin-top: 2rem; }

/* end cc.css */
